html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    cursor: url('./images/pointer.png'), auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative; /* Added this */
}

canvas {
    width: 100%;
    height: auto;
    background: #111;
    position: absolute; /* Ensure canvas is behind the buttons */
}

button {
    display: none;
    position: absolute;
    background-color: #4B0082;
    border: 2px solid #4B0082;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
    background-color: #5a007e;
    color: #eee;
}

#valentinesButton1, #valentinesButton2 {
    top: calc(50% + 150px); /* Both buttons will be aligned with the same vertical positioning */
    position: absolute;
}

#valentinesButton1 {
    left: 50%; /* Center the first button */
    transform: translateX(-120px); /* Adjust the position to the left */
}

#valentinesButton2 {
    left: 50%; /* Center the second button */
    transform: translateX(60px); /* Adjust the position to the right */
}
